@{
    ViewBag.Title = "Hasil Pencarian";
}
@using TweetSharp;
@using Jmelosegui.Mvc.GoogleMap;

<div class="container" style="width:80%; position:center; margin-top:20px;">
    <div class="row">
        <div style="padding-left:45px;">
            <nav id="myScrollspy" style="margin-top:20px; position:fixed;">
                <a href="#PDAM"><img class="movimg" src="~/Resources/iconpdam.png" style="width:50px; margin-top:10px;" /></a><br />
                <a href="#PJU"><img class="movimg" src="~/Resources/iconpju.png" style="width:50px;margin-top:10px;" /></a><br />
                <a href="#Dinsos"><img class="movimg" src="~/Resources/icondinasosial.png" style="width:50px; margin-top:10px;" /></a><br />
                <a href="#DBMP"><img class="movimg" src="~/Resources/icondbmp.png" style="width:50px; margin-top:10px;" /></a><br />
                <a href="#Diskom"><img class="movimg"src="~/Resources/icondiskom.png" style="width:50px;margin-top:10px;" /></a><br />
                <a href="#PDBersih"><img class="movimg" src="~/Resources/iconPDBersih.png" style="width:50px; margin-top:10px;" /></a><br />
                <a href="#Dinaslain"><img class="movimg" src="~/Resources/iconyanglain.png" style="width:50px; margin-top:10px;" /></a><br />
            </nav>
        </div>

        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div id="PDAM" style="background-color:#6ae2b3; border-radius: 6px;">
                <h1 style="padding-top:20px; padding-left:20px;">Kicauan untuk PDAM</h1>
                @if (@ViewBag.PDAM == null)
                {
                    <div class="alert alert-danger" role="alert" style="padding-left:20px;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Belum dimasukan kata kunci untuk kicauan
                    </div>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        Kata kunci untuk kicauan: @ViewBag.PDAM
                        <br />
                        Jumlah: @ViewBag.count1
                    </div>
                    @* Show tweets here *@
                    <div>
                        @if (ViewBag.Tweets1 != null)
                        {
                            IEnumerable<TwitterStatus> /* TwitterStatus*/ tweets1 = ViewBag.Tweets1 as IEnumerable<TwitterStatus>;
                            List<string> location1 = ViewBag.location1 as List<string>;
                            int itr = 0;
                            string tempItr;
                            foreach (var tweet in tweets1)
                            {
                                <div class="tweet">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="picture" style="border:6px solid #ffd800; border-radius:6px;">
                                                <img src="@tweet.User.ProfileImageUrl" alt="@tweet.User.ScreenName" title="@tweet.User.ScreenName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-11">
                                            <div class="info">
                                                <span style="font-weight:600;">@tweet.User.Name - @tweet.User.Location </span>
                                                <br />
                                                <a href="https://twitter.com/statuses/@tweet.Id" class="text">
                                                    @tweet.Text
                                                </a>
                                                <div class="action">
                                                    @tweet.CreatedDate.AddHours(3).ToString("d/M/yyyy HH:mm:ss")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                if (!location1[itr].Equals(" "))
                                {
                                    tempItr = itr.ToString();
                                    <div style="margin:5px; border-bottom:1px solid #000000;">
                                        @(
                                        Html.GoogleMap()
                                        .Name(tempItr)
                                        .Height(300)
                                        .Center(c => c.Address(location1[itr] + ", Bandung, Indonesia"))
                                        .Markers(marker => marker.Add().Title(tempItr))
                                        )
                                    </div>
                                }
                                itr++;
                            }
                        }
                    </div>
                }
            </div>

            <div id="PJU" style="background-color:#6ae2b3; border-radius: 6px;">
                <h1 style="padding-top:20px; padding-left:20px;">Kicauan untuk PJU</h1>
                @if (@ViewBag.PJU == null)
                {
                    <div class="alert alert-danger" role="alert" style="padding-left:20px;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Belum dimasukan kata kunci untuk kicauan
                    </div>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        Kata kunci untuk kicauan: @ViewBag.PJU
                        <br />
                        Jumlah: @ViewBag.count2
                    </div>
                    @* Show tweets here *@
                    <div>
                        @if (ViewBag.Tweets2 != null)
                        {
                            IEnumerable<TwitterStatus> /* TwitterStatus*/ tweets2 = ViewBag.Tweets2 as IEnumerable<TwitterStatus>;
                            List<string> location2 = ViewBag.location2 as List<string>;
                            int itr = 0;
                            string tempItr;
                            foreach (var tweet in tweets2)
                            {
                            <div class="tweet">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="picture" style="border:6px solid #ffd800; border-radius:6px;">
                                            <img src="@tweet.User.ProfileImageUrl" alt="@tweet.User.ScreenName" title="@tweet.User.ScreenName" />
                                        </div>
                                    </div>
                                    <div class="col-sm-11">
                                        <div class="info">
                                            <span style="font-weight:600;">@tweet.User.Name - @tweet.User.Location </span>
                                            <br />
                                            <a href="https://twitter.com/statuses/@tweet.Id" class="text">
                                                @tweet.Text
                                            </a>
                                            <div class="action">
                                                @tweet.CreatedDate.AddHours(3).ToString("d/M/yyyy HH:mm:ss")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            if (!location2[itr].Equals(" "))
                            {
                                itr += 100;
                                tempItr = itr.ToString();
                                itr -= 100;
                                <div style="margin:5px; border-bottom:1px solid #000000;">
                                    @(
                                    Html.GoogleMap()
                                    .Name(tempItr)
                                    .Height(300)
                                    .Center(c => c.Address(location2[itr] + ", Bandung, Indonesia"))
                                    .Markers(marker => marker.Add().Title(tempItr))
                                    )
                                </div>
                            }
                            itr++;
                        }
                    }
                    </div>
                }
            </div>

            <div id="Dinsos" style="background-color:#6ae2b3; border-radius: 6px;">
                <h1 style="padding-top:20px; padding-left:20px;">Kicauan untuk Dinsos</h1>
                @if (@ViewBag.Dinsos == null)
                {
                    <div class="alert alert-danger" role="alert" style="padding-left:20px;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Belum dimasukan kata kunci untuk kicauan
                    </div>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        Kata kunci untuk kicauan: @ViewBag.Dinsos
                        <br />
                        Jumlah: @ViewBag.count3
                    </div>
                    @* Show tweets here *@
                    <div>
                        @if (ViewBag.Tweets3 != null)
                        {
                            IEnumerable<TwitterStatus> /* TwitterStatus*/ tweets3 = ViewBag.Tweets3 as IEnumerable<TwitterStatus>;
                            List<string> location3 = ViewBag.location3 as List<string>;
                            int itr = 0;
                            string tempItr;
                            foreach (var tweet in tweets3)
                            {
                                <div class="tweet">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="picture"  style="border:6px solid #ffd800; border-radius:6px;">
                                                <img src="@tweet.User.ProfileImageUrl" alt="@tweet.User.ScreenName" title="@tweet.User.ScreenName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-11">
                                            <div class="info">
                                                <span style="font-weight:600;">@tweet.User.Name - @tweet.User.Location </span>
                                                <br />
                                                <a href="https://twitter.com/statuses/@tweet.Id" class="text">
                                                    @tweet.Text
                                                </a>
                                                <div class="action">
                                                    @tweet.CreatedDate.AddHours(3).ToString("d/M/yyyy HH:mm:ss")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                if (!location3[itr].Equals(" "))
                                {
                                    itr += 200;
                                    tempItr = itr.ToString();
                                    itr -= 200;
                                    <div style="margin:5px; border-bottom:1px solid #000000;">
                                        @(
                                        Html.GoogleMap()
                                        .Name(tempItr)
                                        .Height(300)
                                        .Center(c => c.Address(location3[itr] + ", Bandung, Indonesia"))
                                        .Markers(marker => marker.Add().Title(tempItr))
                                        )
                                    </div>
                                }
                                itr++;
                            }
                        }
                    </div>
                }
            </div>

            <div id="DBMP" style="background-color:#6ae2b3; border-radius: 6px;">
                <h1 style="padding-top:20px; padding-left:20px;">Kicauan untuk DBMP</h1>
                @if (@ViewBag.DBMP == null)
                {
                    <div class="alert alert-danger" role="alert" style="padding-left:20px;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Belum dimasukan kata kunci untuk kicauan
                    </div>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        Kata kunci untuk kicauan: @ViewBag.DBMP
                        <br />
                        Jumlah: @ViewBag.count4
                    </div>
                    @* Show tweets here *@
                    <div>
                    @if (ViewBag.Tweets4 != null)
                    {
                        IEnumerable<TwitterStatus> /* TwitterStatus*/ tweets4 = ViewBag.Tweets4 as IEnumerable<TwitterStatus>;
                        List<string> location4 = ViewBag.location4 as List<string>;
                        int itr = 0;
                        string tempItr;
                        foreach (var tweet in tweets4)
                        {
                            <div class="tweet">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="picture"  style="border:6px solid #ffd800; border-radius:6px;">
                                            <img src="@tweet.User.ProfileImageUrl" alt="@tweet.User.ScreenName" title="@tweet.User.ScreenName" />
                                        </div>
                                    </div>
                                    <div class="col-sm-11">
                                        <div class="info">
                                            <span style="font-weight:600;">@tweet.User.Name - @tweet.User.Location </span>
                                            <br />
                                            <a href="https://twitter.com/statuses/@tweet.Id" class="text">
                                                @tweet.Text
                                            </a>
                                            <div class="action">
                                                @tweet.CreatedDate.AddHours(3).ToString("d/M/yyyy HH:mm:ss")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                            </div>

                            if (!location4[itr].Equals(" "))
                            {
                                itr += 300;
                                tempItr = itr.ToString();
                                itr -= 300;
                                <div style="margin:5px; border-bottom:1px solid #000000;">
                                    @(
                                    Html.GoogleMap()
                                    .Name(tempItr)
                                    .Height(300)
                                    .Center(c => c.Address(location4[itr] + ", Bandung, Indonesia"))
                                    .Markers(marker => marker.Add().Title(tempItr))
                                    )
                                </div>
                            }
                            itr++;
                        }
                    }
                    </div>
                }
            </div>

            <div id="Diskom" style="background-color:#6ae2b3; border-radius: 6px;">
                <h1 style="padding-top:20px; padding-left:20px;">Kicauan untuk Diskominfo</h1>
                @if (@ViewBag.Diskom == null)
                {
                    <div class="alert alert-danger" role="alert" style="padding-left:20px;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Belum dimasukan kata kunci untuk kicauan
                    </div>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        Kata kunci untuk kicauan: @ViewBag.Diskom
                        <br />
                        Jumlah: @ViewBag.count5
                    </div>
                    @* Show tweets here *@
                    <div>
                        @if (ViewBag.Tweets5 != null)
                        {
                            IEnumerable<TwitterStatus> /* TwitterStatus*/ tweets5 = ViewBag.Tweets5 as IEnumerable<TwitterStatus>;
                            List<string> location5 = ViewBag.location5 as List<string>;
                            int itr = 0;
                            string tempItr;
                            foreach (var tweet in tweets5)
                            {
                                <div class="tweet">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="picture"  style="border:6px solid #ffd800; border-radius:6px;">
                                                <img src="@tweet.User.ProfileImageUrl" alt="@tweet.User.ScreenName" title="@tweet.User.ScreenName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-11">
                                            <div class="info">
                                                <span style="font-weight:600;">@tweet.User.Name - @tweet.User.Location </span>
                                                <br />
                                                <a href="https://twitter.com/statuses/@tweet.Id" class="text">
                                                    @tweet.Text
                                                </a>
                                                <div class="action">
                                                    @tweet.CreatedDate.AddHours(3).ToString("d/M/yyyy HH:mm:ss")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                if (!location5[itr].Equals(" "))
                                {
                                    itr += 400;
                                    tempItr = itr.ToString();
                                    itr -= 400;
                                    <div style="margin:5px; border-bottom:1px solid #000000;">
                                        @(
                                        Html.GoogleMap()
                                        .Name(tempItr)
                                        .Height(300)
                                        .Center(c => c.Address(location5[itr] + ", Bandung, Indonesia"))
                                        .Markers(marker => marker.Add().Title(tempItr))
                                        )
                                    </div>
                                }
                                itr++;
                            }
                        }
                    </div>
                }
            </div>

            <div id="PDBersih" style="background-color:#6ae2b3; border-radius: 6px;">
                <h1 style="padding-top:20px; padding-left:20px;">Kicauan untuk PD Kebersihan</h1>
                @if (@ViewBag.PDBersih == null)
                {
                    <div class="alert alert-danger" role="alert" style="padding-left:20px;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Belum dimasukan kata kunci untuk kicauan
                    </div>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        Kata kunci untuk kicauan: @ViewBag.PDBersih
                        <br />
                        Jumlah: @ViewBag.count6
                    </div>
                    @* Show tweets here *@
                    <div>
                        @if (ViewBag.Tweets6 != null)
                        {
                            IEnumerable<TwitterStatus> /* TwitterStatus*/ tweets6 = ViewBag.Tweets6 as IEnumerable<TwitterStatus>;
                            List<string> location6 = ViewBag.location6 as List<string>;
                            int itr = 0;
                            string tempItr;
                            foreach (var tweet in tweets6)
                            {
                                <div class="tweet">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="picture"  style="border:6px solid #ffd800; border-radius:6px;">
                                                <img src="@tweet.User.ProfileImageUrl" alt="@tweet.User.ScreenName" title="@tweet.User.ScreenName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-11">
                                            <div class="info">
                                                <span style="font-weight:600;">@tweet.User.Name - @tweet.User.Location </span>
                                                <br />
                                                <a href="https://twitter.com/statuses/@tweet.Id" class="text">
                                                    @tweet.Text
                                                </a>
                                                <div class="action">
                                                    @tweet.CreatedDate.AddHours(3).ToString("d/M/yyyy HH:mm:ss")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                if (!location6[itr].Equals(" "))
                                {
                                    itr += 500;
                                    tempItr = itr.ToString();
                                    itr -= 500;
                                    <div style="margin:5px; border-bottom:1px solid #000000;">
                                        @(
                                        Html.GoogleMap()
                                        .Name(tempItr)
                                        .Height(300)
                                        .Center(c => c.Address(location6[itr] + ", Bandung, Indonesia"))
                                        .Markers(marker => marker.Add().Title(tempItr))
                                        )
                                    </div>
                                }
                                itr++;
                            }
                        }
                    </div>
                }
            </div>

            <div id="Dinaslain" style="background-color:#6ae2b3; border-radius: 6px;">
                <h1 style="padding-top:20px; padding-left:20px;">Kicauan untuk dinas lainnya</h1>
                @if (ViewBag.Tweets7 == null)
                {
                    <div class="alert alert-danger" role="alert" style="padding-left:20px;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Tidak ada kicauan untuk dinas lainnya
                    </div>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        Jumlah: @ViewBag.count7
                    </div>
                    @* Show tweets here *@
                    <div>
                        @if (ViewBag.Tweets7 != null)
                        {
                            IEnumerable<TwitterStatus> /* TwitterStatus*/ tweets7 = ViewBag.Tweets7 as IEnumerable<TwitterStatus>;
                            List<string> location7 = ViewBag.location7 as List<string>;
                            int itr = 0;
                            string tempItr;
                            foreach (var tweet in tweets7)
                            {
                                <div class="tweet">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="picture" style="border:6px solid #ffd800; border-radius:6px;">
                                                <img src="@tweet.User.ProfileImageUrl" alt="@tweet.User.ScreenName" title="@tweet.User.ScreenName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-11">
                                            <div class="info">
                                                <span style="font-weight:600;">@tweet.User.Name - @tweet.User.Location </span>
                                                <br />
                                                <a href="https://twitter.com/statuses/@tweet.Id" class="text">
                                                    @tweet.Text
                                                </a>
                                                <div class="action">
                                                    @tweet.CreatedDate.AddHours(3).ToString("d/M/yyyy HH:mm:ss")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                if (!location7[itr].Equals(" "))
                                {
                                    itr += 600;
                                    tempItr = itr.ToString();
                                    itr -= 600;
                                    <div style="margin:5px; border-bottom:1px solid #000000;">
                                        @(
                                        Html.GoogleMap()
                                        .Name(tempItr)
                                        .Height(300)
                                        .Center(c => c.Address(location7[itr] + ", Bandung, Indonesia"))
                                        .Markers(marker => marker.Add().Title(tempItr))
                                        )
                                    </div>
                                }
                                itr++;
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    @(Html.GoogleMap().ScriptRegistrar())
}